doctype
html
  head
    title Semrush Test Blog
    link(rel= 'stylesheet', type= 'text/css', href= 'css/main.css')
  body
    header
      .logotype
    main
      section.latest-articles
      section.subscribe
        h3.subscribe__heading Thank You!
        p.subscribe__text You have successfully subscribed to our blog.
