doctype
html
  head
    meta(charset= 'utf-8')
    title Semrush Test Blog
    link(rel= 'stylesheet', type= 'text/css', href= 'https://fonts.googleapis.com/css?family=Ubuntu:400,500,700')
    link(rel= 'stylesheet', type= 'text/css', href= 'css/main.css')
  body
    header.header
      .container
        i.header__logotype.demo-icon.icon-semrush-logo
    main
      section.profile
        .container
          img.user-photo(src= 'img/profile-image.jpg', alt= 'User photo')
          button.button.button_primary Follow author
      section.latest-articles
        .container
          h3.latest-articles__heading My latest articles
          .row
            .easy-grid-1
              .latest-articles__item.article
                img.article__image(src= 'img/laptop.jpg', alt= 'Laptop')
                .article__info
                  h4.article__heading The mystery of PPC, CTR and quality score
                  time.article__time(datetime= '2015-07-07') July 7, 2015
                  .article__category Paid search
                  .article__views 658
                  .article__rating 4.1
                  .article__share 256
            .easy-grid-1
            .easy-grid-1
      section.subscribe
        .container
          h3.subscribe__heading Thank you!
          p.subscribe__text You have successfully subscribed to our blog.
    footer.footer
      .container
        i.footer__logotype.demo-icon.icon-semrush-logo
        p.footer__copyright © 2008-2015 SEMrush. All rights reserved.
