doctype
html
  head
    title Semrush Test Blog
    link(rel= 'stylesheet', type= 'text/css', href= 'https://fonts.googleapis.com/css?family=Ubuntu:400,500,700')
    link(rel= 'stylesheet', type= 'text/css', href= 'css/main.css')
  body
    header
      .logotype
    main
      section.latest-articles
      section.subscribe
        h3.subscribe__heading Thank you!
        p.subscribe__text You have successfully subscribed to our blog.
